html, body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h2#title {
	background: #000;
	color: #fff;
	font-weight: normal;
	margin: 0 0 2em;
	padding: 0.5em 1em;
}

article {
	margin: 1em 1.5em 3em;
}

article h2 {
	margin-bottom: 0.25em;
}

article p.meta {
	color: #666;
	margin: 0 0 1em;
}

form {
	background: #eee;
	border: solid #333;
	border-width: 1px 0;
	margin-top: 2em;
	padding: 0.5em 1.5em;
}

input, textarea {
	border: 1px solid #333;
	border-radius: 2px;
	outline: none;
	padding: 0.5em;
}

button {
	background: #c00;
	border: 0;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	outline: none;
	padding: 0.5em 1em;

	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

button:hover {
	background: #a00;
}
